body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

input[type='text'] {
  min-width: 700px; 
  padding: 6px;
  margin-top: 8px;
  font-family: 'Inter';
  font-size: large;
  border: 1px solid olive;
  border-radius: 5px;
  outline: none;
}
