body {
  background-color: white;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-title {
  font-size: 85px;
  color: #240225;
}

.main-desc {
  font-weight: 600;
  font-size: 40px;
  color: #240225;
}

.masthead {
  font-weight: 600;
  font-size: 20px;
  color: #240225;
  opacity: 0.6;
  bottom: 20px;
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -100;
}

.bg-svg-logo {
  height: 650px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

input[type='text'] {
  min-width: 850px;
  padding: 10px;
  margin-top: 80px;
  font-family: 'Inter';
  font-size: large;
  font-weight: 600;
  background-color: #fafafa;
  color: #240225;
  border: 1px solid #240225;
  border-radius: 5px;
  outline: none;
}

.btn-lets-go {
  margin-left: 20px;
  padding: 12px 20px; 
  font-family: 'Inter';
  font-weight: 700;
  outline: none;
  color: #fff;
  background-color: #F71FFC;
  border: 2px solid #F71FFC;
  border-color: #F71FFC;
}

.btn-lets-go:active {
  transform: scale(0.90);
}

.btn-lets-go:hover {
  cursor: pointer;
}

