.variable-label {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  color: #240225;
}

.variable-name-ctn {
  margin-top: 8px;
}

.confirm-selection {
  padding: 10px 15px;
  border: none;
  width: 160px;
  background-color: #950198;
  font-size: medium;
  font-weight: 600;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  width: 30px;
}

.confirm-selection:active{
  transform: scale(0.90);
}