--root {
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

/* #root {
  background-color: white;
  width: 100vw;
} */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.dataset-column-name {
  font-size: 14px;
  margin-right: 6px;
}

div.dataset-container {
  height: 100vh;
}

.attribute-container,
.vis-btn-container,
.vis-plot-container {
  margin: 10px;
}

.attribute-container {
  margin-top: 30px;
}

.vis-btn-container {
  margin-left: 0;
}

.dataset-container,
.vis-container {
  padding: 10px;
}

.dataset-container {
  padding: 20px;
  background-color: #FFDC25;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.vis-container {
  padding: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.plot-btn, .plot-type-btn {
  display: inline;
}

.masthead {
  font-weight: 600;
  font-size: 20px;
  color: #240225;
  opacity: 0.6;
  bottom: 20px;
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -100;
}

button {
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  margin-right: 4px;
}

input[type='radio'] {
  display: none;
  z-index: -1;
}

input:checked + label {
  border-color: #F71FFC;
  background-color: #F71FFC;
  color: white;
}

label {
  margin-right: 8px;
  padding: 6px 16px;
  border: 1px solid #240225;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 700;
  display: inline-block;
}

label:hover {
  border-color: #F71FFC;
  background-color: #F71FFC;
  color: white;
}