--root {
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;

  font-family: Inter;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;

  margin: 10px;
}

.title {
  font-size: 24px;
}

.dataset-column-name {
  font-size: 14px;
  margin-right: 6px;
}

div.dataset-container {
  height: 100vh;
}

.attribute-container,
.vis-btn-container,
.vis-plot-container {
  margin: 10px;
}

.vis-btn-container {
  margin-left: 0;
}

.dataset-container,
.vis-container {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.dataset-container {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.vis-container {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.plot-btn, .plot-type-btn {
  display: inline;
}

button {
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  margin-right: 4px;
}

input[type='radio'] {
  display: none;
  z-index: -1;
}

input:checked + label {
  background-color: rgb(200, 200, 200);
  color: white;
}

label {
  margin-right: 6px;
  padding: 6px;

  border: 1px solid black;
  border-radius: 4px;

  font-size: 14px;

  display: inline-block;
}

label:hover {
  background-color: rgb(200, 200, 200);
  color: white;
}
